pipeline/pl_bronze_full_ingestion_clone.json
{
	"name": "pl_bronze_full_ingestion_clone",
	"properties": {
		"activities": [
			{
				"name": "lkp_get_bronze_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT table_name\nFROM adf_bronze_config\nWHERE is_active = TRUE;",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ds_mysql_kiva_loans",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_get_bronze_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_get_bronze_tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_table_to_bronze",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "lkp_get_watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n'SELECT * FROM ',\nitem().table_name,\n' WHERE updated_date > ''',\nactivity('lkp_get_watermark').output.firstRow.last_watermark,\n''''\n)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mysql_kiva_loans",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_kiva_loans",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": "@concat( item().table_name, '/', formatDateTime(utcnow(),'yyyy/MM/dd') )",
										"p_file": "@concat(item().table_name,'.csv')"
									}
								}
							]
						},
						{
							"name": "lkp_get_watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": "@concat(\n'SELECT last_watermark FROM adf_watermark WHERE table_name = ''',\nitem().table_name,\n''''\n)"
								},
								"dataset": {
									"referenceName": "ds_mysql_kiva_loans",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}