pipeline/pl_incremental_kiva_loans.json
{
	"name": "pl_incremental_kiva_loans",
	"properties": {
		"activities": [
			{
				"name": "lkp_get_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT last_watermark_value\nFROM adf_watermark\nWHERE table_name = 'kiva_loans'",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ds_mysql_kiva_loans",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_backfill_start_or_backfill_end",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lkp_get_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n   not(empty(pipeline().parameters.p_backfill_start)),\n   not(empty(pipeline().parameters.p_backfill_end))\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Incremental_Copy_False_Branch",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n'SELECT * FROM kiva_loans WHERE updated_date > ''',\nactivity('lkp_get_watermark').output.firstRow.last_watermark_value,\n''''\n)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "funded_amount",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "funded_amount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "loan_amount",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "loan_amount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "activity",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "activity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "sector",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "sector",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "loan_use",
												"type": "String",
												"physicalType": "Text"
											},
											"sink": {
												"name": "loan_use",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "country_code",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "country_code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "country",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "region",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "region",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "currency",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "currency",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "partner_id",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "partner_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "posted_time",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "posted_time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "disbursed_time",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "disbursed_time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "funded_time",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "funded_time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "term_in_months",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "term_in_months",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "lender_count",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "lender_count",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "tags",
												"type": "String",
												"physicalType": "Text"
											},
											"sink": {
												"name": "tags",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "borrower_genders_raw",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "borrower_genders_raw",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "repayment_interval",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "repayment_interval",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String",
												"physicalType": "VarChar"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "created_date",
												"type": "DateTime",
												"physicalType": "DateTime"
											},
											"sink": {
												"name": "created_date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "updated_date",
												"type": "DateTime",
												"physicalType": "DateTime"
											},
											"sink": {
												"name": "updated_date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mysql_kiva_loans",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_kiva_loans",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "backfill_true",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n'SELECT * FROM kiva_loans WHERE updated_date BETWEEN ''',\npipeline().parameters.p_backfill_start,\n''' AND ''',\npipeline().parameters.p_backfill_end,\n''''\n)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mysql_kiva_loans",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_kiva_loans",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_backfill_start": {
				"type": "string"
			},
			"p_backfill_end": {
				"type": "string"
			}
		},
		"annotations": []
	}
}